.navcontainer  {
	top: 0px;
	left:0px;
	height: 32px;
	background-image: url('nav_middle.gif');
	background-repeat: repeat-x center;
	clear:both;
}
.navleft {
	top: 0px;
	left: 0px;
	padding-top: 5px;
	background: url('nav_left.gif') no-repeat left top;
	height: 32px;
	width: 529pxpx;
	text-align: left;
	padding-top: 8px;
	padding-left: 105px;
}
