BODY {
	SCROLLBAR-ARROW-COLOR: #458ce4; SCROLLBAR-FACE-COLOR: #dbebfe; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; SCROLLBAR-DARKSHADOW-COLOR: #458ce4; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #b8d6fa; SCROLLBAR-TRACK-COLOR: #ffffff; SCROLLBAR-3DLIGHT-COLOR: #dbebfe; PADDING-TOP: 0px
}
BODY {
	FONT-SIZE: 12px
}
BODY {
	WIDTH: 100%; HEIGHT: 100%
}
HTML {
	WIDTH: 100%; HEIGHT: 100%
}
BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
IMG {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
P {
	LINE-HEIGHT: 150%
}
.cb {
	CLEAR: both
}
.fl {
	FLOAT: left
}
.fr {
	FLOAT: right
}
.nowrap {
	WORD-WRAP: break-word; WORD-BREAK: break-all
}
A {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: 0px
}
A {
	
}
.clear_float {
	CLEAR: both
}
.float_left {
	FLOAT: left
}
.float_right {
	FLOAT: right
}
.alignCenter {
	TEXT-ALIGN: center
}
.alignLeft {
	TEXT-ALIGN: left
}
.alignRight {
	TEXT-ALIGN: right
}
.border_none {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
UL LI.bgnone {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.w100 {
	WIDTH: 100%
}
.h100 {
	HEIGHT: 100%
}
.h60 {
	HEIGHT: 60px
}
.h90 {
	HEIGHT: 90px
}
.h1 {
	HEIGHT: 420px
}
.h2 {
	HEIGHT: 20%
}
.h3 {
	HEIGHT: 26px
}
.hL1 {
	LINE-HEIGHT: 240%
}
.hL2 {
	LINE-HEIGHT: 160%
}
.highly_auto {
	HEIGHT: auto
}
.wSelect {
	WIDTH: 200px
}
.widthSet1 {
	WIDTH: 60px
}
.widthSet2 {
	WIDTH: 80px
}
.widthSet3 {
	WIDTH: 120px
}
.widthSet4 {
	WIDTH: 20px
}
.widthSet5 {
	WORD-WRAP: break-word
}
.widthSet6 {
	WIDTH: 80%
}
.widthSet7 {
	WIDTH: 50%
}
.widthSet8 {
	WIDTH: 20%
}
.widthSet9 {
	WHITE-SPACE: nowrap
}
.widthSet9 H3 {
	WIDTH: auto; MAX-WIDTH: 69%
}
.widthSet9 H4 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: auto; PADDING-RIGHT: 0px; MAX-WIDTH: 80%; HEIGHT: 28px; PADDING-TOP: 0px
}
.margin00 {
	MARGIN: 0px
}
.padding00 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.margin01 {
	MARGIN-TOP: 8px
}
.margin02 {
	MARGIN-TOP: 15px
}
.margin03 {
	MARGIN-TOP: 40px
}
.margin04 {
	MARGIN: 8px 0px
}
.margin05 {
	MARGIN-TOP: 80px
}
.m_b {
	MARGIN-BOTTOM: 15px
}
.con_margin {
	MARGIN: 5px 0px 10px
}
.pT {
	PADDING-TOP: 12px
}
.pL {
	PADDING-LEFT: 12px
}
.pL2 {
	PADDING-LEFT: 78px
}
.pL3 {
	PADDING-LEFT: 24px
}
.pR {
	PADDING-RIGHT: 12px
}
.pB {
	PADDING-BOTTOM: 12px
}
.pAll1 {
	PADDING-BOTTOM: 16px; PADDING-LEFT: 16px; PADDING-RIGHT: 16px; PADDING-TOP: 16px
}
.p1 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; PADDING-TOP: 0px
}
.mT {
	MARGIN-TOP: 12px
}
.mB {
	MARGIN-BOTTOM: 12px
}
.mAll {
	MARGIN: 32px
}
.underline1 {
	BORDER-BOTTOM: #6593cf 1px dashed; PADDING-BOTTOM: 6px; PADDING-LEFT: 0px; WIDTH: 300px; PADDING-RIGHT: 0px; PADDING-TOP: 2px
}
.vtop {
	VERTICAL-ALIGN: top
}
.vbottom {
	VERTICAL-ALIGN: bottom
}
.dashed {
	WIDTH: 100%; BACKGROUND: url(../images/dashed.gif) repeat-x; HEIGHT: 1px
}
.bg {
	BACKGROUND: #f4f9ff
}
.bgimg {
	BACKGROUND: url(../images/pic0041.gif) repeat-x; HEIGHT: 120px
}
.bgimg2 {
	BACKGROUND: url(../images/bg2.gif) repeat-x; HEIGHT: 98px
}
.dashedBottom {
	BORDER-BOTTOM: #ccc 1px dashed; PADDING-BOTTOM: 12px
}
.bgColor {
	BACKGROUND: #fff
}
.text_indent {
	LINE-HEIGHT: 190%; TEXT-INDENT: 2em
}
.text_indent2 {
	TEXT-INDENT: 2em
}
.sh_page {
	PADDING-BOTTOM: 0px; MARGIN-TOP: 4px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; HEIGHT: 23px; PADDING-TOP: 0px
}
.sh_page A {
	COLOR: #004499; TEXT-DECORATION: none
}
.sh_page A:hover {
	COLOR: #ff0000; TEXT-DECORATION: none
}
.sh_page2 {
	PADDING-BOTTOM: 0px; MARGIN-TOP: 4px; PADDING-LEFT: 8px; WIDTH: 790px; PADDING-RIGHT: 8px; HEIGHT: 23px; PADDING-TOP: 0px
}
.btn_sty {
	BACKGROUND-IMAGE: url(../images/f2.gif); BORDER-BOTTOM: #87a3c1 1px solid; BORDER-LEFT: #87a3c1 1px solid; BACKGROUND-COLOR: #ddf0ff; BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: 0px -453px; HEIGHT: 20px; FONT-SIZE: 12px; BORDER-TOP: #87a3c1 1px solid; CURSOR: hand !important; BORDER-RIGHT: #87a3c1 1px solid
}
.goto {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 20px; PADDING-RIGHT: 0px; HEIGHT: 14px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 0px
}
.btn_nxt {
	BACKGROUND-IMAGE: url(../images/f4.gif?v=1); BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 45px; PADDING-RIGHT: 0px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: -14px -473px; HEIGHT: 15px; BORDER-TOP: 0px; CURSOR: pointer; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.btn_pre {
    background-position: 0 -473px;
    height: 15px;
    width: 14px;
}

.btn_pre {
    background-image: url("../images/f4.gif?v=6");
    background-repeat: no-repeat;
}

.btn_pre {
    border: 0 none;
    cursor: pointer;
    padding: 0;
}
.thirty_dis_ico {
	CURSOR: pointer
}
.fifteen_dis_ico {
	CURSOR: pointer
}
.fifty_dis_ico {
	CURSOR: pointer
}
.thirty_dis_ico {
	WIDTH: 20px; BACKGROUND-POSITION: -524px -267px; HEIGHT: 20px
}
.fifteen_dis_ico {
	WIDTH: 20px; BACKGROUND-POSITION: -631px -267px; HEIGHT: 20px
}
.fifty_dis_ico {
	WIDTH: 20px; BACKGROUND-POSITION: -675px -267px; HEIGHT: 20px
}
.thirty_clk_ico {
	WIDTH: 20px; BACKGROUND-POSITION: -588px -267px; HEIGHT: 20px
}
.fifteen_clk_ico {
	WIDTH: 20px; BACKGROUND-POSITION: -610px -267px; HEIGHT: 20px
}
.fifty_clk_ico {
	WIDTH: 20px; BACKGROUND-POSITION: -653px -267px; HEIGHT: 20px
}
.sh_page .ti {
	MARGIN-TOP: 4px; FLOAT: left; MARGIN-RIGHT: 10px
}
TABLE {
	COLOR: #000
}
TABLE TH {
	WHITE-SPACE: nowrap
}
.tab_lis {
	BORDER-BOTTOM: #d3d3d3 1px solid; BORDER-LEFT: #d3d3d3 1px solid; COLOR: #5f5f5f; BORDER-TOP: #d3d3d3 1px solid; BORDER-RIGHT: #d3d3d3 1px solid
}
.tab_list {
	BORDER-BOTTOM: #d3d3d3 1px solid; BORDER-LEFT: #d3d3d3 1px solid; BORDER-TOP: #d3d3d3 1px solid; BORDER-RIGHT: #d3d3d3 1px solid
}
.tab_list02 {
	BORDER-BOTTOM: #d3d3d3 1px solid; BORDER-LEFT: #d3d3d3 1px solid; TABLE-LAYOUT: fixed; BORDER-TOP: #d3d3d3 1px solid; BORDER-RIGHT: #d3d3d3 1px solid
}
.tab_list TH {
	LINE-HEIGHT: 20px; BACKGROUND: url(../images/commo/tab_title_bg.gif) repeat-x; FONT-WEIGHT: normal
}
.tab_list TD {
	LINE-HEIGHT: 25px; HEIGHT: 25px
}
.tab_list TH.va_t {
	VERTICAL-ALIGN: top
}
.tab_list02 TH {
	BORDER-BOTTOM: #d3d3d3 1px solid; LINE-HEIGHT: 25px; BACKGROUND: #e5e5e5; HEIGHT: 24px; COLOR: #5f5f5f; FONT-WEIGHT: normal
}
.tab_list02 TD {
	LINE-HEIGHT: 25px; PADDING-LEFT: 12px; WORD-WRAP: break-word; HEIGHT: 25px
}
.tr_hover:hover {
	BACKGROUND: #eeeeee
}
.td_mrl {
	PADDING-LEFT: 3px
}
.tab_list TH.left {
	TEXT-ALIGN: left
}
.tab_list02 TH.left {
	TEXT-ALIGN: left
}
.tab_list02 TD.left {
	TEXT-ALIGN: left
}
#transfer {
	PADDING-LEFT: 24px
}
.tab_list03 {
	BORDER-BOTTOM: #d3d3d3 1px solid; BORDER-LEFT: #d3d3d3 1px solid; BORDER-TOP: #d3d3d3 1px solid; BORDER-RIGHT: #d3d3d3 1px solid
}
.tab_list03 TH {
	LINE-HEIGHT: 20px; BACKGROUND: url(../images/commo/tab_title_bg.gif) repeat-x; FONT-WEIGHT: normal
}
.tab_list03 TD {
	TEXT-ALIGN: center; LINE-HEIGHT: 25px; HEIGHT: 25px
}
.tab_list03 TD.left {
	TEXT-ALIGN: left
}
.tabs_iGoal {
	POSITION: relative; MARGIN: 0px 0px 12px; HEIGHT: 25px
}
.tabs_iGoal UL {
	Z-INDEX: 2; POSITION: absolute; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; HEIGHT: 24px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px; TOP: 0px
}
.tabs_iGoal UL LI {
	FLOAT: left
}
.tabs_iGoal UL LI A {
	TEXT-ALIGN: center; WIDTH: 73px; DISPLAY: block; BACKGROUND: url(../images/commo/tab_link.gif) no-repeat; HEIGHT: 18px; COLOR: #143d59; MARGIN-RIGHT: 3px; PADDING-TOP: 7px
}
.tabs_iGoal UL LI A.cur {
	MARGIN-TOP: 1px; BACKGROUND: url(../images/commo/tab_cur.gif) no-repeat; HEIGHT: 24px; FONT-WEIGHT: bold
}
.tabs_iGoal UL LI A.cur:hover {
	TEXT-DECORATION: none
}
.tabs_iGoal_line {
	POSITION: absolute; WIDTH: 100%; BOTTOM: 0px; BACKGROUND: #ddd; HEIGHT: 1px; OVERFLOW: hidden; LEFT: 0px; _bottom: -1px
}
.tabs_iGoal .enter_module {
	Z-INDEX: 3; POSITION: absolute; HEIGHT: 18px; RIGHT: 1px; PADDING-TOP: 6px
}
.tabs_iGoal_line1 {
	FONT-SIZE: 1px
}
.tab_info {
	WIDTH: 100%; MARGIN-BOTTOM: 12px
}
.tab_info TH {
	TEXT-ALIGN: right; LINE-HEIGHT: 25px; WIDTH: 8%; FONT-WEIGHT: normal
}
.tab_thwidth TH {
	WIDTH: 35%
}
.tab_info TD {
	TEXT-ALIGN: left; LINE-HEIGHT: 25px
}
.tab_info TH.va_t {
	VERTICAL-ALIGN: top
}
.ico_cnt {
	BACKGROUND-IMAGE: url(../images/commo/f4.gif); BACKGROUND-REPEAT: no-repeat
}
.ico_cnt {
	MARGIN: 0px auto; DISPLAY: block
}
.tnor_label_ico {
	WIDTH: 16px; BACKGROUND-POSITION: -322px -299px; HEIGHT: 16px; CURSOR: pointer
}
.tnor_label_cnt_ico {
	BACKGROUND-IMAGE: url(../images/commo/nor_label_cnt.gif); BACKGROUND-REPEAT: no-repeat; FONT-SIZE: 16px; CURSOR: pointer
}
.error1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 6px; PADDING-LEFT: 16px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/pic0038.png) no-repeat left center; COLOR: #c53032; PADDING-TOP: 1px
}
.icon_doc_mark {
	MARGIN: 0px auto; WIDTH: 16px; DISPLAY: block; BACKGROUND: url(../images/win1.gif) no-repeat; HEIGHT: 16px
}
A.w_close {
	MARGIN: 10px 13px 0px 0px; WIDTH: 45px; DISPLAY: block; BACKGROUND: url(../images/icon_window_close.gif) no-repeat; FLOAT: right; HEIGHT: 17px; _margin: 10px 6px 0 0
}
A.w_close:hover {
	WIDTH: 45px; DISPLAY: block; BACKGROUND: url(../images/icon_window_close.gif) no-repeat 0px -17px; HEIGHT: 17px
}
.t_space_sizediv {
	WIDTH: 502px; BACKGROUND: #fff
}
.s_space_sizediv_title {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; WIDTH: 495px; PADDING-RIGHT: 2px; BACKGROUND: url(../images/top_space_div_title.png) no-repeat; HEIGHT: 23px; FONT-WEIGHT: bold; PADDING-TOP: 4px
}
.s_space_sizediv_listbox {
	BORDER-BOTTOM: #82b0be 1px solid; POSITION: relative; BORDER-LEFT: #82b0be 1px solid; WIDTH: 500px; BACKGROUND: #fff; FLOAT: left; BORDER-TOP: #82b0be 0px solid; BORDER-RIGHT: #82b0be 1px solid
}
.s_space_sizediv_list {
	MARGIN: 0px 7px; BACKGROUND: url(../images/dashed.gif) repeat-x left bottom; HEIGHT: 80px; PADDING-TOP: 7px
}
.s_space_bgnone {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.s_p_s_l_left {
	BORDER-BOTTOM: #e0e0e0 1px solid; BORDER-LEFT: #e0e0e0 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; WIDTH: 99px; PADDING-RIGHT: 2px; FLOAT: left; HEIGHT: 66px; BORDER-TOP: #e0e0e0 1px solid; MARGIN-RIGHT: 5px; BORDER-RIGHT: #e0e0e0 1px solid; PADDING-TOP: 2px
}
.s_p_s_l_right {
	WIDTH: 376px; FLOAT: left; _width: 373px
}
.s_p_s_l_right H5 {
	MARGIN: 5px 0px 10px
}
.s_p_s_l_right P {
	COLOR: #525252
}
.but_buy {
	TEXT-ALIGN: right
}
.menuset {
	WIDTH: 390px; BACKGROUND: #fff
}
.menuset_title {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; WIDTH: 383px; PADDING-RIGHT: 2px; BACKGROUND: url(../images/top_space_div_title_02.png) no-repeat; HEIGHT: 23px; FONT-WEIGHT: bold; PADDING-TOP: 4px
}
.menuset_box {
	BORDER-BOTTOM: #82b0be 1px solid; POSITION: relative; BORDER-LEFT: #82b0be 1px solid; MIN-HEIGHT: 220px; WIDTH: 388px; FLOAT: left; HEIGHT: auto !important; BORDER-TOP: #82b0be 0px solid; BORDER-RIGHT: #82b0be 1px solid
}
A.but_close {
	MARGIN: 3px 5px 0px 0px; WIDTH: 14px; BACKGROUND: url(../images/top_icon_close.gif) no-repeat; FLOAT: right; HEIGHT: 14px
}
.t_space_graybg {
	WIDTH: 100%; HEIGHT: 100%
}
.s_space_tipinfo {
	BORDER-BOTTOM: #d7d199 1px solid; BORDER-LEFT: #d7d199 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 35px; MARGIN: 10px 0px 20px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #fdfce6; HEIGHT: 35px; BORDER-TOP: #d7d199 1px solid; BORDER-RIGHT: #d7d199 1px solid; PADDING-TOP: 0px
}
.s_pace_tipcon {
	PADDING-BOTTOM: 10px; MARGIN: 10px 20px 0px; HEIGHT: auto
}
.s_pace_tipcon TABLE.rtable_2rows {
	MARGIN-BOTTOM: 30px
}
.s_pace_tipbut {
	POSITION: absolute; TEXT-ALIGN: right; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 368px; BOTTOM: 0px; PADDING-RIGHT: 20px; BACKGROUND: url(../images/tip_but_bg.gif) repeat-x; HEIGHT: 29px; PADDING-TOP: 6px; LEFT: 0px
}
