#IV_window {
	font: 12px Arial, Helvetica, sans-serif;
	color: #333333;
}

#IV_secondLine {
	font: 10px Arial, Helvetica, sans-serif;
	color: #666666;
}

#IV_window a:link {
	color: #666666;
}

#IV_window a:visited {
	color: #666666;
}

#IV_window a:hover {
	color: #000;
}

#IV_window a:active {
	color: #666666;
}

#IV_window a:focus {
	color: #666666;
}

#IV_overlay {
	position: fixed;
	z-index: 100;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
}

.IV_overlayMacFFBGHack {
	background: url(macFFBgHack.png) repeat;
}

.IV_overlayBG {
	background-color: #000;
	filter: alpha(opacity = 75);
	-moz-opacity: 0.75;
	opacity: 0.75;
}

* html #IV_overlay { /* ie6 hack */
	position: absolute;
	height: expression(document.body.scrollHeight >   document.body.offsetHeight ?  
		document.body.scrollHeight :   document.body.offsetHeight +   'px');
}

#IV_window {
	position: fixed;
	background: #ffffff;
	z-index: 102;
	color: #000000;
	display: none;
	border: 4px solid #525252;
	text-align: center;
	top: 50%;
	left: 50%;
	overflow: hidden;
}

* html #IV_window { /* ie6 hack */
	position: absolute;
	margin-top: expression(0 -   parseInt(this.offsetHeight/ 2) +   (
		TBWindowMargin =   document.documentElement &&  
		document.documentElement.scrollTop ||   document.body.scrollTop ) +  
		'px' );
}

#IV_window img#IV_Image {
	display: block;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #666;
	border-left: 1px solid #666;
	cursor: pointer;
	z-index: 100;
	overflow: hidden;
	position: absolute;
}

#IV_window #IV_header {
	height: 30px;
	background: #fff;
	margin: 0px;
	z-index: 101;
	position: relative;
	display: block;
	border-bottom: 1px solid #CCCCCC;
}

#IV_caption {
	height: 14px;
	padding: 7px 30px 3px 25px;
	float: left;
	width: 200px;
}

#IV_toolbar {
	width: 300px;
	height: 30px;
	margin: 0px;
	float: left;
}

.IV_ico {
	display: block;
	width: 25px;
	height: 25px;
	background: url(toolsico.gif) top no-repeat;
	float: left;
	margin: 3px 3px;
	cursor: pointer;
	border: 1px solid #FFFFFF;
}

.IV_ico:hover,.IV_ico:focus {
	border: 1px solid #316AC5;
}

.IV_zoomIn {
	background-position: -28px 0;
}

.IV_zoomOut {
	background-position: 0 0;
}

.IV_easydrag {
	background-position: -28px -50px;
}

.IV_zoomAuto {
	background-position: -28px -25px;
}

.IV_zoomFix {
	background-position: 0 -25px;
}

#IV_closeWindow {
	height: 14px;
	padding: 7px 25px 3px 0;
	float: right;
}

#IV_closeAjaxWindow {
	padding: 7px 10px 5px 0;
	margin-bottom: 1px;
	text-align: right;
	float: right;
}

#IV_ajaxWindowTitle {
	float: left;
	padding: 7px 0 5px 10px;
	margin-bottom: 1px;
}

#IV_title {
	background-color: #e8e8e8;
	height: 30px;
}

#IV_ajaxContent {
	clear: both;
	padding: 2px 15px 15px 15px;
	overflow: auto;
	text-align: left;
	line-height: 1.4em;
}

#IV_ajaxContent.IV_modal {
	padding: 15px;
}

#IV_ajaxContent p {
	padding: 5px 0px 5px 0px;
}

#IV_load {
	position: fixed;
	background: url(loadingAnimation.gif) top no-repeat;
	display: none;
	height: 100px;
	width: 100px;
	z-index: 103;
	top: 50%;
	left: 50%;
	margin: -50px 0 0 -50px; /* -height/2 0 0 -width/2 */
}

* html #IV_load { /* ie6 hack */
	position: absolute;
	margin-top: expression(0 -   parseInt(this.offsetHeight/ 2) +   (
		TBWindowMargin =   document.documentElement &&  
		document.documentElement.scrollTop ||   document.body.scrollTop ) +  
		'px' );
}

#IV_HideSelect {
	z-index: 99;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #fff;
	border: none;
	filter: alpha(opacity = 0);
	-moz-opacity: 0;
	opacity: 0;
	height: 100%;
	width: 100%;
}

* html #IV_HideSelect { /* ie6 hack */
	position: absolute;
	height: expression(document.body.scrollHeight >   document.body.offsetHeight ?  
		document.body.scrollHeight :   document.body.offsetHeight +   'px');
}

#IV_iframeContent {
	clear: both;
	border: none;
	margin-bottom: -1px;
	margin-top: 1px;
	_margin-bottom: 1px;
}