#fullBg{
	height:200px;
	width:200px;
	background-color: Gray;
	display:block;
	z-index:998;
	position:absolute;
	left:0px;
	top:0px;
	filter:Alpha(Opacity=20); 
	/* IE */
	-moz-opacity:0.3; 
	/* Moz + FF */
	opacity: 0.3; 
}
#main_msg{
	position:absolute;
	z-index:999;
	display:block;
	background-color:#FFFFFF;
	border:1px solid #000000;
}
#main_msg .alertClose{
	float:right;
	margin-top:2px;
	margin-right:2px;
	cursor:pointer;
	background-image:url(../../images/main/estop/close.gif);
	height:10px;
	width:10px;
}
.index-loading{
	background-image:url(../../images/main/estop/loading.gif);
	height:32px;
	width:32px
}
/* Button Defined */
.buttons a, .buttons button{
		display:block;
		float:left;
		margin:0 7px 0 0;
		background-color:#f5f5f5;
		border:1px solid #dedede;
		border-top:1px solid #eee;
		border-left:1px solid #eee;

		font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
		font-size:12px;
		line-height:130%;
		text-decoration:none;
		font-weight:bold;
		color:#565656;
		cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
	}
	.buttons button{
		width:auto;
		overflow:visible;
		padding:4px 10px 3px 7px; /* IE6 */
	}
	.buttons button[type]{
		padding:5px 10px 5px 7px; /* Firefox */
		line-height:17px; /* Safari */
	}
	*:first-child+html button[type]{
		padding:4px 10px 3px 7px; /* IE7 */
	}
	.buttons button img, .buttons a img{
		margin:0 3px -3px 0 !important;
		padding:0;
		border:none;
		width:16px;
		height:16px;
	}

	/* STANDARD */

	button:hover, .buttons a:hover{
		background-color:#dff4ff;
		border:1px solid #c2e1ef;
		color:#336699;
	}
	.buttons a:active{
		background-color:#6299c5;
		border:1px solid #6299c5;
		color:#fff;
	}

	/* POSITIVE */

	button.positive, .buttons a.positive{
		color:#529214;
	}
	.buttons a.positive:hover, button.positive:hover{
		background-color:#E6EFC2;
		border:1px solid #C6D880;
		color:#529214;
	}
	.buttons a.positive:active{
		background-color:#529214;
		border:1px solid #529214;
		color:#fff;
	}

	/* NEGATIVE */

	.buttons a.negative, button.negative{
		color:#d12f19;
	}
	.buttons a.negative:hover, button.negative:hover{
		background:#fbe3e4;
		border:1px solid #fbc2c4;
		color:#d12f19;
	}
	.buttons a.negative:active{
		background-color:#d12f19;
		border:1px solid #d12f19;
		color:#fff;
	}

	/* REGULAR */

	button.regular, .buttons a.regular{
		color:#336699;
	}
	.buttons a.regular:hover, button.regular:hover{
		background-color:#dff4ff;
		border:1px solid #c2e1ef;
		color:#336699;
	}
	.buttons a.regular:active{
		background-color:#6299c5;
		border:1px solid #6299c5;
		color:#fff;
	}

