.webfx-tree-row {
	/*
	line-height:	16px;
	height:			16px;
	*/
	white-space:	nowrap;
	font:			icon;
	text-decoration:none;
	font-family:   宋体;
	font-size: 	12px;
	
}


.webfx-tree-row span {
	/*
	display:		inline-block;
	height:			16px;
	line-height:	16px;
	*/

	font-family:   宋体;
	font-size: 	12px;
	
	overflow:		hidden;
	text-overflow:	ellipsis;
}

.webfx-tree-children {
	background-repeat:		repeat-y;
	background-image:		url("../images/I.png") !important;
	background-position-y:	1px !important;	/* IE only */
	font:					icon;
	font-size: 12px;
	font-family: 宋体,Arial, Helvetica, sans-serif;
}

.webfx-tree-children-nolines {
	font:			icon;
	font-family:   宋体;
	font-size: 	12px;
}

.webfx-tree-row img {
	vertical-align:	middle;
	height:			16px;
	font-family:   宋体;
	font-size: 	12px;
}

.webfx-tree-icon {
	width:			16px;
	cursor:			hand;
	cursor:			pointer;
	font-family:   宋体;
	font-size: 	12px;
}

.webfx-tree-expand-icon {
	width:		19px;
	font-family:   宋体;
	font-size: 	12px;
}

.webfx-tree-item-label {
	margin-left:		3px;
	padding:			1px 2px 1px 2px;
	text-decoration:	none;
	font-family:   宋体;
	font-size: 	12px;
	color:#333333;
}

.selected .webfx-tree-item-label:hover,
.selected .webfx-tree-item-label {
	color:#C4B5BE;
	font-family:   宋体;
	font-size: 	12px;
}

.selected .webfx-tree-item-label:focus:hover,
.selected .webfx-tree-item-label:focus,
.selected .webfx-tree-item-label:active:hover,
.selected .webfx-tree-item-label:active {
	text-decoration:	none;
	font-family:   宋体;
	font-size: 	12px;
}

.webfx-tree-item-label {
	/*-moz-border-radius:	4px;*/
	/*border:				1px solid transparent;*/
	font-family:   宋体;
	font-size: 	12px;
}

.webfx-tree-hide-root {
	display:	none;
	font-size: 12px;
	font-family: 宋体,Arial, Helvetica, sans-serif;
}

.no-action .webfx-tree-item-label,
.no-action .webfx-tree-item-label:hover,
.no-action img {
	color:				WindowText;
	text-decoration:	none;
	cursor:				default;
	font-family:   宋体;
	font-size: 	12px;
}

