
* {
margin:0;
padding:0;
}
body {
font-size:12px; font-family:Verdana, Arial, Helvetica, sans-serif,"ו"
padding-top:10px;
}
form {
-moz-border-radius:11px 11px 11px 11px;
-moz-box-shadow:0 4px 18px #C8C8C8;
background:none repeat scroll 0 0 #FFFFFF;
border:1px solid #E5E5E5;
font-weight:normal;
margin-left:8px;
padding:16px 16px 40px;
}

#login form p {
margin-bottom:0;
}
label {
color:#777777;
font-size:13px;
}

form .submit, .alignright {
float:right;
}
form p {
margin-bottom:24px;
}

form .forgetmenot {
float:left;
font-weight:normal;
margin-bottom:0;
}


#login {
margin:7em auto;
width:320px;
}


#password, #name,#company{
background:none repeat scroll 0 0 #FBFBFB;
border:1px solid #E5E5E5;
font-size:20px;
margin-bottom:16px;
margin-right:6px;
margin-top:2px;
padding:3px;
width:97%;
}
input {
color:#555555;
}
.clear {
clear:both;
}
